<template>
<Page actionBarHidden="true">
  <GridLayout columns="*" rows="100, *, 100, 100, *, 100">
    <Label class="title" text="LOGO" />

    <StackLayout col="0" row="2">
      <Label class="title" text="Введите код авторизации" />
      <Label class="white-text" text='Напишите боту «/code» чтобы его получить' />
    </StackLayout>

    <GridLayout columns="*, *, *, *, *, *" rows="*, 5, 30" col="0" row="3">
      <AbsoluteLayout class="round-25" style="background-color: #FFFFFF;  width:150px; height: 150px;" col="1" row="0">
        <TextField :ref="refs[0]" name="0" class="round-25 center-text" v-model="code[0]" @textChange="checkEnter" @focus="getFocus" left="20%" top="0" height="100%" width="50%" editable="true" maxLength="1" />
      </AbsoluteLayout>
      <AbsoluteLayout class="round-25" style="background-color: #FFFFFF;  width:150px; height: 150px;" col="2" row="0">
        <TextField :ref="refs[1]" name="1" class="round-25 center-text" v-model="code[1]" @textChange="checkEnter" @focus="getFocus" left="20%" top="0" height="100%" width="50%" editable="true" maxLength="1" />
      </AbsoluteLayout>
      <AbsoluteLayout class="round-25" style="background-color: #FFFFFF;  width:150px; height: 150px;" col="3" row="0">
        <TextField :ref="refs[2]" name="2" class="round-25 center-text" v-model="code[2]" @textChange="checkEnter" @focus="getFocus" left="20%" top="0" height="100%" width="50%" editable="true" maxLength="1" />
      </AbsoluteLayout>
      <AbsoluteLayout class="round-25" style="background-color: #FFFFFF;  width:150px; height: 150px;" col="4" row="0">
        <TextField :ref="refs[3]" name="3" class="round-25 center-text" v-model="code[3]" @textChange="checkEnter" @focus="getFocus" left="20%" top="0" height="100%" width="50%" editable="true" maxLength="1" />
      </AbsoluteLayout>

      <StackLayout class="round-25" style="background-color: #FF0000; " width="150" col="1" row="2" colSpan="4">
        <Label class="white-text" text='Неверный код' />
      </StackLayout>
    </GridLayout>

    <Button class="round-25 white-text" text="Помощь" @tap="onButtonTap" height="50" width="80%" col="0" row="5" background="#71C1FF" />

  </GridLayout>
</Page>
</template>

<script>
import nextPage from "./2.InformationPage"

export default {
  data() {
    return {
      code: ["", "", "", ""],
      refs: ["first", "second", "therd", "fourd"],
      ref: 0,
    }
  },

  methods: {

    onButtonTap(){
      this.$navigateTo(nextPage);
    },
    getFocus({
      object
    }) {
      console.log(object.name);

      this.code[object.name] = "";

      if (++this.ref > 3) this.ref = 0;
    },

    checkEnter(event) {

      this.$refs[this.refs[this.ref]].nativeView.focus();
      console.log(this.ref);
    }
  },
}
</script>

<style scoped>

</style>
