<template>
<Page actionBarHidden="true">
  <GridLayout columns="*" rows="100, auto, 50, 50, 50, 150, *, 100">
    <Label class="title" text="LOGO" col="0" row="0" />

    <GridLayout columns="*" rows="150" col="0" row="1">
      <Image src="~/assets/images/indicator_1_3.png" stretch="aspectFit" col="0" row="0" />
      <Label class="title" text="1/3" col="0" row="0" />
    </GridLayout>

    <GridLayout columns="*, auto, 30" rows="*" col="0" row="3">
      <Label class="title" text="Включите Bluetooth" col="0" row="0" />
      <Image src="~/assets/images/bt.png" height="30" stretch="aspectFit" col="1" row="0" />
    </GridLayout>

    <GridLayout columns="1*, 9*" rows="*, *, *" col="0" row="5" >
      <Label class="white-text" textWrap="true" col="0" row="0" text='•' />
      <Label class="white-text" textWrap="true" col="1" row="0" text='Bluetooth используется для учета вашего рабочего времени.' />
      
      <Label class="white-text" textWrap="true" col="0" row="1" text='•' />
      <Label class="white-text" textWrap="true" col="1" row="1" text='Не отключайте Bluetooth, он не расходует батарею телефона (менее 1% в сутки).' />
      
      <Label class="white-text" textWrap="true" col="0" row="2" text='•' />
      <Label class="white-text" textWrap="true" col="1" row="2" text='Не перемещайте маячок после установки, он оборудован датчиком движения.' />
    </GridLayout>

    <Button class="round-25 white-text" text="Далее" col="0" row="7" @tap="onButtonTap" height="50" width="80%"  background="#D5D5D5" />

  </GridLayout>
</Page>
</template>

<script>
export default {
  data() {
    return {
      code: ["", "", "", ""],
      refs: ["first", "second", "therd", "fourd"],
      ref: 0,
    }
  },

  methods: {

    getFocus({
      object
    }) {
      console.log(object.name);

      this.code[object.name] = "";

      if (++this.ref > 3) this.ref = 0;
    },

    checkEnter(event) {

      this.$refs[this.refs[this.ref]].nativeView.focus();
      console.log(this.ref);
    }
  },
}
</script>

<style scoped>

</style>
