// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

Page {
  background-color: #549FFF;
}

TextField {
  background-color: #FFFFFF;

  min-width: 20px;
  width: 20px;
}

.round-25{
  border-radius: 10%;
}

.title {
  horizontal-align: center;
  vertical-align: center;
  font-size: 32;
  font-weight: bold;
  margin: 2;

  color: #FFFFFF;
}

.white-text {
  horizontal-align: center;
  font-size: 18;
  color: #FFFFFF,
}

.center-text {
  horizontal-align: center;
  font-size: 24;
  /*color: #FFFFFF,*/
}
